.pov-extra-buttons {
  font-weight: bold;
  font-size: small;
}

.select-input-label {
  padding: 10px;
}

.generic-form-root {
  flex-grow: 1;
  margin: 1% 0;
}

.form-control-filled-input {
  width: 100%;
  padding: 10px!important;
}

/* ck editor */
.ck-error .ck.ck-content {
  border: 2px solid;
  border-color: red!important;
}