@import "_config";

/* zebra rows */
.table-striped tr:nth-child(even){
  background-color: $expandable-grid-even-row;
}

/* compact rows */
.table-striped .MuiTableBody-root .MuiTableCell-root {
  padding: 1px;
}

/* expandable content */
.row-detail-root {
  padding: 24px;
}

tr.expanded-row {
  background-color: $expandable-grid-expanded-row!important;
}