/* zebra rows */
.table-striped tr:nth-child(even){
  background-color: rgba(250,250,250,0.95);
}

/* compact rows */
.table-striped .MuiTableBody-root .MuiTableCell-root {
  padding: 1px;
}

/* expandable content */
.row-detail-root {
  padding: 24px;
}

tr.expanded-row {
  background-color: rgba(176,218,255,0.55)!important;
}