.advanced-filters-root {
   padding: 20px;
}

.actions-buttons-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px
}

.actions-buttons-actions .left-side *:not(:first-child) {
  margin-left: 10px
}

.actions-buttons-actions .right-side *:not(:first-child) {
  margin-left: 10px
}

.general-tab-container .generic-form-root {
  flex-grow: 1;
  margin: 0% 0;
}

.general-tab-subtab .generic-form-root {
  flex-grow: 1;
  margin: 1% 0 0 0;
}

.advanced-filters-root .generic-form-root .MuiAutocomplete-inputRoot {
  padding: 0px;
}

.advanced-filters-root .generic-form-root .MuiAutocomplete-inputRoot .MuiInputAdornment-root {
  padding-left: 9px;
}