
// colors
$thead-bg-color: #3f3f3f;
$app-red: #b22028;
$app-gray: #BFBFBF;
$app-primary: #3A9198;
$expandable-grid-even-row: rgba(250,250,250,0.95);
$expandable-grid-expanded-row: rgba(176,218,255,0.55);

@mixin boxShadow {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.hidden {
  visibility: hidden;
}

// Screen size variables
$screen-xs-min: 425px; 
$screen-sm-min: 600px; 
$screen-md-min: 960px; 
$screen-lg-min: 1280px; 
$screen-xl-min: 1920px; 

// Mixins
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
} // Tiny devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
} // Small devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
} // Medium devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
} // Large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
} // Extra large devices
